
/* Basic rules */



/*
th {
    height: 30px; 
}

tr {
    text-align: center;
    align-content: center;
    align-self: center;
}

td {
    text-align: center;
    padding: 5px;
}
*/


.imElem {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 600px;
}


.tab{
    margin: 0 auto;
    width: 100px; 
}


.input_text {
    text-align: center;
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:100px;
}

.word_im{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 350px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container_div {
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Basic rules */

body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px; /*taille du tableau*/
}

/* table, td, th {
    border: 1px solid #aaa;
} */




